@font-face {
    src: url(Fonts/Quantum.otf);
    font-family: Quantum;
}

body{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

hr{
  color: #636e72;
}







.loading{
  font-family: montserrat,Sans-serif;
  top: 40%;
  left: 43%;
  display: flex;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #00cec9;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: a1 2s linear infinite;
}

.loading::before,.loading::after{
  content:'';
  width: 200px;
  height: 200px;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
}

.loading::before{
  border-top: 10px solid #81ecec;
  transform: rotate(120deg);
}

.loading::after{
  border-top: 10px solid #38ada9;
  transform: rotate(240deg);
}

.loading-text{
  color: #2d3436;
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

@keyframes a1{
  to{
    transform: rotate(360deg);
  }
}

@keyframes a2{
  to{
    transform: rotate(-360deg);  }
}




.conteiner{
    padding: 40px;
}

.conteiner h1{
  font-size: 70px;
  font-family: Oswald, sans-serif;
  color: #2d3436;
  text-shadow: 5px 2px #dfe6e9;
  font-weight: 400;
}

.conteiner p{
  font-family: Oswald, sans-serif;
  font-size: 25px;

}




.conteiner button{
  background-color: aliceblue;
  border: 2px solid #00cec9;
  border-radius: 6px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  position: relative;
  min-width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
}
.conteiner button:hover{
  text-decoration: none;
  color: aliceblue;
}





.menu ul{
    margin: 0;
    padding: 0;
    padding-top: 0px;
    margin-top: 0px;
    background-color: #00cec9;
    list-style-type: none;
    overflow: hidden;
    font-family: Oswald;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.menu li{
    float: left;
}

.menu li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    background-color: #00cec9;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.4s linear;
}

.menu a:hover{
    color: #6c5ce7;
}



.serv-section{
  padding: 60px 0;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 70px;
  overflow: hidden;
}

.section-title{
  text-align: center;
  color: #2d3436;
  font-size: 30px;
  text-transform: uppercase;
}

.border{
  width: 160px;
  height: 2px;
  background:#81ecec;
  margin: 40px auto;
}

.serv-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serv-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color:#2d3436;
  cursor: pointer;
}

.serv-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #81ecec;
  color: #81ecec;
  border-radius: 50px;
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.serv-icon i{
  line-height: 70px;
  font-size: 26px;
}

.serv-box:hover .serv-icon{
  background: #81ecec;
  color: #fff;
}
.serv-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.serv-desc{
  font-size: 14px;
}



